.Renviron
.Rproj.user
.DS_Store
.Rprofile
.Rhistory
.env
renv/

todos.md

code/sandbox.r
code/sandbox.qmd
code/*.ipynb
code/*/*.ipynb
code/examples/
*/**/xx_deprecated/
code/*.Rmd
code/**/*.Rmd
code/*.html
code/**/*.html
code/*_files/

notes/
slides/
data/